COMPOSE_PROJECT_NAME=ocr_cidades_local

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET_DATA_LAKE=ocr-cidades
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

POSTGRES_OPERACIONAL_USER=ocr_admin
POSTGRES_OPERACIONAL_PASSWORD=ocr_admin_password
POSTGRES_OPERACIONAL_DB=ocr_operacional
POSTGRES_OPERACIONAL_PORT=5433

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow_core
AIRFLOW_VERSION=3.0.2-python3.11
POSTGRES_AIRFLOW_PORT=5434
AIRFLOW_PORT=18080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_WEBSERVER_SECRET_KEY=airflow_secret_key_local
AIRFLOW_FERNET_KEY=4p9xDg0m2Y8vQv0B7o4t7x4mQKc6S9E1sP2R5T8U0W0=

OM_DB_USER=openmetadata
OM_DB_PASSWORD=openmetadata_password
OM_DB_NAME=openmetadata_db
POSTGRES_OPENMETADATA_PORT=5435

OPENMETADATA_VERSION=1.12.6
OPENMETADATA_CLUSTER_NAME=ocr-cidades-local
OPENMETADATA_LOG_LEVEL=INFO
OPENMETADATA_PORT=8585
OPENMETADATA_ADMIN_PORT=8586

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_CLUSTER_ALIAS=ocr-cidades-local
